<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Game</title>
</head>
<body>
    <h1>Welcome To Your Game Library</h1>
    <h2>A Library where you can (only) add and delete list of your favorite game...  sorry..</h2><br><br><br>

    <form action="/" method="POST">
    
        <h3>LOGIN HERE</h3><br>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" id="password"><br>

        <input type="submit" value="Login">

        <p>Dont have account ? <span> <a href="/register">click here</a> </span> to register.</p>
    
    
    </form>
</body>
</html>