<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Success</title>
</head>
<body>
    <h1>Nice, Your account has been created! Login to start adding your game.</h1><br>
    <a href="/">HOME</a>
    
</body>
</html>